/* Meera */
@font-face {
  font-family: 'Meera';
  font-style: normal;
  font-weight: 400;
  src: url(http://smc.org.in/downloads/fonts/meera/Meera.eot?v=6.1);/* IE9 Compat Modes */
  src: url(http://smc.org.in/downloads/fonts/meera/Meera.eot?v=6.1#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(http://smc.org.in/downloads/fonts/meera/Meera.woff2?v=6.1) format('woff2'),
    url(http://smc.org.in/downloads/fonts/meera/Meera.woff?v=6.1) format('woff'),
    url(http://smc.org.in/downloads/fonts/meera/Meera.ttf?v=6.1) format('truetype');
  unicode-range: U+0D01-0D7F;
}

/* Rachana */
@font-face {
  font-family: 'Rachana';
  font-style: normal;
  font-weight: 400;
  src: url(http://smc.org.in/downloads/fonts/rachana/Rachana.eot?v=6.1);/* IE9 Compat Modes */
  src: url(http://smc.org.in/downloads/fonts/rachana/Rachana.eot?v=6.1#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(http://smc.org.in/downloads/fonts/rachana/Rachana.woff2?v=6.1) format('woff2'),
    url(http://smc.org.in/downloads/fonts/rachana/Rachana.woff?v=6.1) format('woff'),
    url(http://smc.org.in/downloads/fonts/rachana/Rachana.ttf?v=6.1) format('truetype');
  unicode-range: U+0D01-0D7F;
}

/* AnjaliOldLipi */
@font-face {
  font-family: 'AnjaliOldLipi';
  font-style: normal;
  font-weight: 400;
  src: url(http://smc.org.in/downloads/fonts/anjalioldlipi/AnjaliOldLipi.eot?v=6.1);/* IE9 Compat Modes */
  src: url(http://smc.org.in/downloads/fonts/anjalioldlipi/AnjaliOldLipi.eot?v=6.1#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(http://smc.org.in/downloads/fonts/anjalioldlipi/AnjaliOldLipi.woff2?v=6.1) format('woff2'),
    url(http://smc.org.in/downloads/fonts/anjalioldlipi/AnjaliOldLipi.woff?v=6.1) format('woff'),
    url(http://smc.org.in/downloads/fonts/anjalioldlipi/AnjaliOldLipi.ttf?v=6.1) format('truetype');
  unicode-range: U+0D01-0D7F;
}

/* Dyuthi */
@font-face {
  font-family: 'Dyuthi';
  font-style: normal;
  font-weight: 400;
  src: url(http://smc.org.in/downloads/fonts/dyuthi/Dyuthi.eot?v=6.1);/* IE9 Compat Modes */
  src: url(http://smc.org.in/downloads/fonts/dyuthi/Dyuthi.eot?v=6.1#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(http://smc.org.in/downloads/fonts/dyuthi/Dyuthi.woff2?v=6.1) format('woff2'),
    url(http://smc.org.in/downloads/fonts/dyuthi/Dyuthi.woff?v=6.1) format('woff'),
    url(http://smc.org.in/downloads/fonts/dyuthi/Dyuthi.ttf?v=6.1) format('truetype');
  unicode-range: U+0D01-0D7F;
}


/* Chilanka */
@font-face {
  font-family: 'Chilanka';
  font-style: normal;
  font-weight: 400;
  src: url(http://smc.org.in/downloads/fonts/chilanka/Chilanka.eot?v=1.0.0-beta);/* IE9 Compat Modes */
  src: url(http://smc.org.in/downloads/fonts/chilanka/Chilanka.eot?v=1.0.0-beta#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(http://smc.org.in/downloads/fonts/chilanka/Chilanka.woff2?v=1.0.0-beta) format('woff2'),
    url(http://smc.org.in/downloads/fonts/chilanka/Chilanka.woff?v=1.0.0-beta) format('woff'),
    url(http://smc.org.in/downloads/fonts/chilanka/Chilanka.ttf?v=1.0.0-beta) format('truetype');
}


/* RaghuMalayalamSans */
@font-face {
  font-family: 'RaghuMalayalamSans';
  font-style: normal;
  font-weight: 400;
  src: url(http://smc.org.in/downloads/fonts/raghumalayalamsans/RaghuMalayalamSans.eot?v=1.0.0-beta);/* IE9 Compat Modes */
  src: url(http://smc.org.in/downloads/fonts/raghumalayalamsans/RaghuMalayalamSans.eot?v=1.0.0-beta#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(http://smc.org.in/downloads/fonts/raghumalayalamsans/RaghuMalayalamSans.woff2?v=1.0.0-beta) format('woff2'),
    url(http://smc.org.in/downloads/fonts/raghumalayalamsans/RaghuMalayalamSans.woff?v=1.0.0-beta) format('woff'),
    url(http://smc.org.in/downloads/fonts/raghumalayalamsans/RaghuMalayalamSans.ttf?v=1.0.0-beta) format('truetype');
	unicode-range: U+0D01-0D7F;
}


/* Suruma */
@font-face {
  font-family: 'Suruma';
  font-style: normal;
  font-weight: 400;
  src: url(http://smc.org.in/downloads/fonts/suruma/Suruma.eot?v=1.0.0-beta);/* IE9 Compat Modes */
  src: url(http://smc.org.in/downloads/fonts/suruma/Suruma.eot?v=1.0.0-beta#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(http://smc.org.in/downloads/fonts/suruma/Suruma.woff2?v=1.0.0-beta) format('woff2'),
    url(http://smc.org.in/downloads/fonts/suruma/Suruma.woff?v=1.0.0-beta) format('woff'),
    url(http://smc.org.in/downloads/fonts/suruma/Suruma.ttf?v=1.0.0-beta) format('truetype');
	unicode-range: U+0D01-0D7F;
}

/* Keraleeyam */
@font-face {
  font-family: 'Keraleeyam';
  font-style: normal;
  font-weight: 400;
  src: url(http://smc.org.in/downloads/fonts/keraleeyam/Keraleeyam.eot?v=1.0.0-beta);/* IE9 Compat Modes */
  src: url(http://smc.org.in/downloads/fonts/keraleeyam/Keraleeyam.eot?v=1.0.0-beta#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(http://smc.org.in/downloads/fonts/keraleeyam/Keraleeyam.woff2?v=1.0.0-beta) format('woff2'),
    url(http://smc.org.in/downloads/fonts/keraleeyam/Keraleeyam.woff?v=1.0.0-beta) format('woff'),
    url(http://smc.org.in/downloads/fonts/keraleeyam/Keraleeyam.ttf?v=1.0.0-beta) format('truetype');
	unicode-range: U+0D01-0D7F;
}

